@import url("table.css");

h2 {
  text-align: center; }

  #h2Stats{
    color: black;
    font-family: Georgia,Verdana,sans-serif;
    font-weight: bold;
  }
  table{width:100%;}

  tbody{
    overflow: auto;
  }

* {
  box-sizing: border-box; }

.mw0 {
  min-width: 0; }

.main-content {
  padding-right: 100px; }

md-data-table-pagination > div {
  border-top: none; }
  md-data-table-pagination > div:nth-child(1) > md-select {
    margin: 0 32px 8px 0; }

md-card {
  border-radius: 4px; }
  md-card md-toolbar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }

.nav-header {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .nav-header a.logo {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
    text-decoration: none; }
    .nav-header a.logo img {
      height: 150px;
      width: auto;
      display: block;
      -webkit-transform-origin: 50% 0;
          -ms-transform-origin: 50% 0;
              transform-origin: 50% 0;
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
    .nav-header a.logo h1 {
      color: black;
      text-align: center;
      font-weight: 400;
      font-size: 26px; }

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .fab .md-fab.accent {
    background-color: #e53689; }
  .fab .md-fab.accent:not([disabled]):hover {
    background-color: #d23777; }

.toolbar-selector {
  padding-left: 20px; }

.ticket-response {
  border: 1px solid #acacac;
  border-radius: 4px;
  padding: 16px !important;
  margin-bottom: 16px;
  margin-right: 16px;
  background-color: #ececec; }

md-sidenav {
  border-right: 1px solid #ececec;
  min-width: 250px !important;
  width: 250px !important;
  max-width: 250px !important; }
  md-sidenav .divider {
    height: 1px;
    border-top: 1px solid #ececec; }
  md-sidenav md-list md-list-item a {
    width: 100%;
    text-align: justify !important;
    color: #e53689 !important;
    margin: 0 !important;
    padding: 5px 20px !important;
    border-radius: 0 !important;
    font-weight: normal !important;
    text-transform: none !important; }
    md-sidenav md-list md-list-item a md-icon {
      margin-right: 20px; }
    md-sidenav md-list md-list-item a.active {
      background: #f6f6f6; }
    md-sidenav md-list md-list-item a.black {
      color: black !important; }

md-toolbar {
  height: 64px; }
  md-toolbar .toolbar-title {
    margin-left: 30px; }
    md-toolbar .toolbar-title h3 {
      font-weight: normal !important; }

md-icon.md-dark {
  color: #808080 !important; }

md-input-container label, md-input-container .md-placeholder {
  color: rgba(0, 0, 0, 0.75) !important; }

md-select .md-select-value.md-select-placeholder {
  color: rgba(0, 0, 0, 0.75) !important; }
