<md-dialog flex="33">
    <form name="emailForm" data-ng-submit="vm.hide(vm.email)">
        <md-dialog-content layout="row" layout-wrap="">
            <md-input-container flex="50">
                <label>{{'CHANGE_MAIL_MODAL_NEW' | translate}}</label>
                <input autofocus data-ng-model="vm.email.newEmail" type="email"
                          columns="1" required title="new email"/>
            </md-input-container>
            <md-input-container flex="50">
                <label>{{'CHANGE_MAIL_MODAL_CONFIRM_MDP' | translate}}</label>
                <input data-ng-model="vm.email.password" type="password"
                          columns="1" required title="password"/>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions">
            <md-button type="button" data-ng-click="vm.cancel()">
                {{'CHANGE_MAIL_MODAL_CLOSE' | translate}}
            </md-button>
            <md-button class="md-raised md-accent" type="submit" data-ng-disabled="emailForm.$invalid">
                {{'CHANGE_MAIL_MODAL_SAVE' | translate}}
            </md-button>
        </div>
    </form>
</md-dialog>
