<md-dialog flex="50">
    <form name="resetForm" data-ng-submit="vm.hide(vm.email)">
        <md-dialog-content>
            <md-input-container flex>
                <label>Email</label>
                <input autofocus data-ng-model="vm.email" type="email" required title="email"/>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions">
            <md-button type="button" data-ng-click="vm.cancel()">
                Fermer
            </md-button>
            <md-button class="md-raised md-accent" type="submit"
                       data-ng-disabled="resetForm.$invalid">
                Envoyer
            </md-button>
        </div>
    </form>
</md-dialog>
