<div layout="row" layout-wrap>
    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>{{'ADMIN_MODULE_TAB' | translate}}</span>
                    </h2>
                    <span flex></span>
                    <md-button aria-label="add" data-ng-click="vm.openCreateModule($event)" class="md-icon-button">
                        <md-tooltip data-md-direction="left">{{'ADMIN_MODULES_BUTTON_CREATE' | translate}}</md-tooltip>
                        <md-icon>playlist_add</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-list>
                    <md-subheader class="md-no-sticky">{{'ADMIN_MODULE_CPM_MODIFY' | translate}}</md-subheader>
                    <md-list-item data-ng-repeat="module in vm.modules | orderBy:'name'" ng-click="vm.goToModule(module)">
                        <p> {{ module.name }} </p>
                        <div class="md-secondary" ng-click="vm.openDeleteModule($event, module)" aria-label="delete">
                            <md-tooltip data-md-direction="left">{{'ADMIN_MODULE_CPM_DEL' | translate}}</md-tooltip>
                            <md-icon>delete</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>{{'ADMIN_GROUPS_TAB' | translate}}</span>
                    </h2>
                    <span flex></span>
                    <md-button aria-label="add" data-ng-click="vm.openCreateGroup($event)" class="md-icon-button">
                        <md-tooltip data-md-direction="left">{{'ADMIN_GROUPS_BUTTON_CREATE' | translate}}</md-tooltip>
                        <md-icon>group_add</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-list>
                    <md-subheader class="md-no-sticky">{{'ADMIN_GROUPS_BUTTON_MODIFY' | translate}}</md-subheader>
                    <md-list-item data-ng-repeat="group in vm.groups | orderBy:'name'" ng-click="vm.openEditGroup($event, group)">
                        <p> {{ group.name }} </p>
                        <div class="md-secondary" ng-click="vm.openDeleteGroup($event, group)" aria-label="delete">
                            <md-tooltip data-md-direction="left">{{'ADMIN_GROUPS_BUTTON_DEL' | translate}}</md-tooltip>
                            <md-icon>delete</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex="100" flex-gt-md="50">
        <md-card>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>{{'ADMIN_USERS_TAB' | translate}}</span>
                    </h2>
                    <span flex></span>
                    <md-button aria-label="add" data-ng-click="vm.openCreateUser($event)" class="md-icon-button">
                        <md-tooltip data-md-direction="left">{{'ADMIN_USERS_BUTTON_CREATE' | translate}}</md-tooltip>
                        <md-icon>person_add</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

                <table id="table_users" class="table">
                  <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in vm.users | filter:{id:filters.id} | filter:{name:filters.name} | filter:{email:filters.email} | filter:{type:filters.type}"
                        data-ui-sref="main.users({id: user.id})">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.type}}</td>
                    </tr>
                  </tbody>
              </table>

        </md-card>
    </div>
</div>
<script data-ng-if="vm.users">
  var flag = true;
  $('#table_users tbody').on('inview', function(event, isInView) {
      if (isInView && flag) {
        tfusers = new TableFilter(document.querySelector('#table_users'), {base_path: '/tablefilter/'
                                                                      ,flts_row_css_class: "test",
                                                                      fixed_headers: true ,
                                                                      flt_css_class: "input-sm form-control",
                                                                      filters_row_index: 1,
                                                                      col_3: 'select',
                                                                      paging: true,
                                                                      results_per_page: ['Utilisateurs par page: ', [10,25,50,100]],
                                                                      remember_grid_values: true,
                                                                      remember_page_number: true,
                                                                      remember_page_length: true,
                                                                      rows_counter: true,
                                                                      loader: true,
                                                                      alternate_rows: true,
                                                                      btn_reset: true,
                                                                      btn_reset_text: "Clear",
                                                                      extensions:[{
                                                                        name: 'sort',
                                                                        types: [
                                                                        'number', 'string', 'string', 'string'
                                                                        ]
                                                                      }]
                                                                    });
        tfusers.init();
        flag = false;
      }
      else{
        console.log('Error');
      }
  });
</script>
