<md-dialog flex="50">
  <form name="moduleForm" data-ng-submit="vm.hide(vm.group)">
    <md-dialog-content>
      <md-input-container flex>
        <label>{{'CREATE_NAME_GROUPE' | translate}}</label>
        <input autofocus data-ng-model="vm.group.name" type="text" required title="nom"/>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions">
      <md-button type="button" data-ng-click="vm.cancel()">{{'BUTTON_CLOSE_CREATION_GROUPE' | translate}}</md-button>
      <md-button class="md-raised md-accent" type="submit" data-ng-disabled="moduleForm.$invalid">
        {{'BUTTON_CREATE_GROUPE' | translate}}
      </md-button>
    </div>
  </form>
</md-dialog>
