<div layout="row" layout-wrap>
    <ui-view flex="100"></ui-view>
    <div flex="100" data-ng-show="vm.tickets">
        <md-card flex layout="row">
                <md-button aria-label="group-settings"
                            data-ng-if="vm.admin || vm.module.$rights === 'c' || vm.module.$rights === 'b' || vm.module.$rights === 'a'"
                            data-ng-click="vm.openCreateTicket($event)"
                            class="md-fab md-raised">
                    <md-tooltip data-md-direction="down">
                        {{ 'TICKET_CREATE' | translate }}
                    </md-tooltip>
                    <md-icon style="color: #808080;">add</md-icon>
                </md-button>

                <md-button class="md-fab md-raised"
                           data-ui-sref="main.modules({id: vm.module.$id})">
                    <md-tooltip data-md-direction="down">
                        {{ 'TICKET_BY_STATUS' | translate }}
                    </md-tooltip>
                    <md-icon style="color: #808080;">list</md-icon>
                </md-button>

                <div flex></div>
                <md-button class="md-fab md-primary" data-ng-if= "vm.super || vm.admin" aria-label="Tickets En Cours" data-ui-sref="main.modulesCurrent({id: vm.module.$id})">
                  <md-icon>chat</md-icon>
                  <span>{{vm.ticketsCurrent.length + vm.ticketsCurrentCPM.length + vm.ticketsCurrentCC.length}}</span>
                  <md-tooltip data-md-direction="down">
                      {{'TICKET_CURRENT' | translate}}
                  </md-tooltip>
                </md-button>
                <md-button class="md-fab" data-ng-if= "vm.super || vm.admin" aria-label="Tickets Non Lus" data-ui-sref="main.modulesNotRead({id: vm.module.$id})">
                  <md-icon>announcement</md-icon>
                  <span>{{vm.ticketsNotRead.length}}</span>
                  <md-tooltip data-md-direction="down">
                      {{'TICKET_NOT_READ' | translate}}
                </md-button>
                <md-button aria-label="group-settings"
                            data-ng-if="vm.admin || vm.module.$rights === 'c' || vm.module.$rights === 'b' || vm.module.$rights === 'a'"
                            data-ui-sref="main.modulesStats({id: vm.module.$id})"
                            class=" md-fab md-raised">
                    <md-tooltip data-md-direction="down">
                        {{ 'HOME_PAGE_MODULES_STAT_CPM' | translate }}
                    </md-tooltip>
                    <md-icon style="color: #808080;">equalizer</md-icon>
                </md-button>
        </md-card>
        <md-card>

            <md-tabs md-dynamic-height aria-label="select status" >
          <md-tab class="md-accent" label="Tous les tickets" md-on-select = "vm.filterAllTickets(); vm.statusDuration()">
            <md-tab-body><br/>
                <table id="table_id" si-table class="table">
                    <thead>
                      <tr>
                          <th sort-by="id" sort-init="desc" style="text-align:center">#</th>
                          <th sort-by="user.name" style="text-align:center">Nom</th>
                          <th sort-by="subject" style="text-align:center">Sujet</th>
                          <th sort-by="status" style="text-align:center">Statut</th>
                          <th sort-by="created" style="text-align:center">Créé</th>
                          <th sort-by="lastResponse" style="text-align:center">Réponse par</th>
                          <th sort-by="created" style="text-align:center">J+</th>
                          <th sort-by="{{key}}" style="text-align:center" data-ng-repeat="(key, field) in vm.module.ticketFields">{{field.name}}</th>
                      </tr>
                      <tr>
                        <th><input  placeholder="#" class="input-sm form-control" type="search" ng-model="filters['id']"/></th>
                        <th><input  placeholder="Nom" class="input-sm form-control" type="search" ng-model="filters['name']"/></th>
                        <th><input  placeholder="Sujet" class="input-sm form-control" type="search" ng-model="filters['subject']"/></th>
                        <th><select class="input-sm form-control" ng-model="filters['status']"><option></option><option ng-repeat="status in vm.module.status">{{status.name}}</option></select></th>
                        <th><datepicker><input class="input-sm form-control" ng-model="filters['created']" type="text"/></datepicker></th>
                        <th><input  placeholder="Réponse par" class="input-sm form-control" type="search" ng-model="filters['lastResponse']"/></th>
                        <th><input  placeholder="J+" class="input-sm form-control" type="search" ng-model="filters['nbJours']"/></th>
                        <th data-ng-repeat="(key, field) in vm.module.ticketFields"><input placeholder="{{field.name}}" class="input-sm form-control" type="search" /></th>
                      </tr>
                    </thead>
                      <tbody>
                          <tr si-sortable ng-repeat="ticket in vm.tickets | searchDate:filters.created | filter:{id:filters.id} |
                           filter:{subject:filters.subject} |filter:{user:{name:filters.name}} | filter:{status:filters.status} |
                           filter:{lastResponse:filters.lastResponse} | filter:{created:filters.nbJours} | filter:searchText" data-ng-click="vm.openTicketView($event, ticket.$id)">
                              <td style="text-align:center; whitespace:nowrap" id="id">{{ticket.id}}</td>
                              <td style="text-align:center" id="user">{{ticket.user.name}}</td>
                              <td style="text-align:center" id="subject">{{ticket.subject}}</td>
                              <td style="text-align:center" id="status">{{ticket.status}}</td>
                              <td style="text-align:center" id="date">{{ticket.created | date : 'dd-MM-yyyy'}}<br/>{{ticket.created | date : 'HH:mm:ss'}}</td>
                              <td style="text-align:center" id="answer">{{ticket.lastResponse}}</td>
                              <td style="text-align:center" id="nbjours">{{ticket.created | amDifference : null : 'minute' | amDurationFormat : 'minute'}}</td>
                              <td data-ng-repeat="(key, field) in vm.module.ticketFields" style="text-align:center" id="key">
                                  <div data-ng-if="field.type !== 'dropdouble'">
                                      {{ticket[key]}}
                                  </div>
                                  <div data-ng-if="field.type === 'dropdouble'">
                                      {{ticket[key].first + ' - ' + ticket[key].second}}
                                  </div>
                              </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="14">
                                <si-table-pagination limit="10"  first-text="First page"  last-text="Last page"  previous-text="«"  next-text="»" />
                              </td>
                          </tr>
                      </tfoot>
                    </table>

            </md-tab-body>
      </md-tab>
        </md-tabs>
        </md-card>
    </div>
    <div data-ng-hide="vm.tickets" layout-fill layout="row" layout-align="center" style="padding-top: 50px;">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<md-fab-speed-dial class="fab md-scale" data-md-direction="up">
    <md-fab-trigger>
        <md-button aria-label="search" data-ui-sref="main.modules.search({id: vm.moduleId})" class="md-fab accent">
            <md-tooltip data-md-direction="left">
                {{ 'TICKET_BUTTON_SEARCH' | translate }}
            </md-tooltip>
            <md-icon>search</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions data-ng-if="vm.admin || vm.module.$rights === 'a'">
        <md-button aria-label="group-settings" data-ui-sref="main.modules.edit({id: vm.moduleId})"
                   class="md-fab md-raised md-mini">
            <md-tooltip data-md-direction="left">
                {{ 'TICKET_BUTTON_EDIT' | translate }}
            </md-tooltip>
            <md-icon style="color: #808080;">settings</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
