<div  layout-margin data-ng-show="vm.tickets">

  <form name="userForm">
    <div flex layout="row">

      <div flex layout-margin>
        <md-input-container flex>
          <label></label>
          <md-autocomplete
            ng-disabled="vm.isDisabled"
            md-no-cache="vm.noCache"
            md-selected-item="vm.selectedItem"
            md-search-text-change="vm.searchTextChange(vm.user.name)"
            md-search-text="vm.user.name"
            md-selected-item-change="vm.selectedItemChange(user)"
            md-items="user in vm.querySearchName(vm.user.name)"
            md-item-text="user.name"
            md-min-length="0"
            placeholder="Choisir un utilisateur">
          <md-item-template>
            <span md-highlight-text="vm.user.name" md-highlight-flags="^i">{{user.name}}</span>
          </md-item-template>
          <md-not-found>
            Pas d'utilisateurs portant le nom "{{user.name}}".
          </md-not-found>
        </md-autocomplete>
      </md-input-container>
    </div>


      <md-input-container flex>
        <lx-date-picker id="date" model= "vm.startDate" type="date" label="Date début" icon="calendar" allow-clear="true" fixed-label="false"></lx-date-picker>
      </md-input-container>

      <md-input-container flex>
        <lx-date-picker id="date" model= "vm.endDate" type="date" label="Date début" icon="calendar" allow-clear="true"></lx-date-picker>
      </md-input-container>

      <div flex></div>

      <md-button class="md-primary" ng-click="vm.filter()">Filtrer</md-button>

    </div>
  </form>

  <md-card flex style="background-color:#eaeaea;" layout-padding>
    <h2 id="h2Stats"><br/>{{vm.ticketsUser.length}} Tickets<br/></h2>
    <div layout="row" flex>
      <highchart id="container" config="vm.config1" style="width: 80%"></highchart>
      <div flex></div>
      <highchart id="container2" config="vm.config2" style="width: 80%"></highchart>
    </div>
  </md-card>

</div>

<div data-ng-hide="vm.tickets" layout-fill layout="row" layout-align="center" style="padding-top: 50px;">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>
