<div layout="row" layout-wrap>
    <ui-view flex="100"></ui-view>
    <div flex="100" data-ng-show="vm.tickets">
        <md-card>
            <md-data-table-toolbar>
                <!---->
                <md-button class="md-accent" data-ng-if="vm.admin || vm.module.$rights === 'c' || vm.module.$rights === 'b' || vm.module.$rights === 'a'" data-ng-click="vm.openCreateTicket($event)">
                    {{ 'TICKET_CREATE' | translate }}
                </md-button>
                <md-button class="md-accent" data-ui-sref="main.modules({id: vm.module.$id})">
                    {{ 'TICKETS PAR STATUTS' | translate }}
                </md-button>
                <md-button class="md-accent" data-ui-sref="main.modulesStats({id: vm.module.$id})">
                    {{ 'HOME_PAGE_MODULES_STAT_CPM' | translate }}
                </md-button>
                <div flex></div>
                <md-button class="md-fab md-primary" data-ng-if= "vm.super || vm.admin" aria-label="Tickets En Cours" data-ui-sref="main.modulesCurrent({id: vm.module.$id})">
                  <md-icon>chat</md-icon>
                  <span>{{vm.ticketsCurrent.length + vm.ticketsCurrentCPM.length + vm.ticketsCurrentCC.length}}</span>
                </md-button>
                <md-button class="md-fab" data-ng-if= "vm.super || vm.admin" aria-label="Tickets Non Lus" data-ui-sref="main.modulesNotRead({id: vm.module.$id})">
                  <md-icon>announcement</md-icon>
                  <span>{{vm.ticketsNotRead.length}}</span>
                </md-button>
                <md-button data-ng-show= "vm.admin" aria-label="Tous les tickets" data-ui-sref="main.modulesAll({id: vm.module.$id})">
                  <md-icon>messenger</md-icon>
                  <span>{{vm.ticketsTotal}}</span>
                </md-button>
            </md-data-table-toolbar>

            <md-tabs md-dynamic-height aria-label="select status" >
          <md-tab class="md-accent" label="Tickets Non Lus" md-on-select = "vm.filterNotReadTickets()">
            <md-tab-body><br/>
              <md-data-table-container>
                <table id="table_id">
                    <thead>
                      <tr>
                        <td class="tableHeader" id="filter_col1" data-column="0"><input class="column_filter" id="col0_filter" placeholder="#" size="5"></td>
                        <td class="tableHeader" id="filter_col2" data-column="1"><input class="column_filter" id="col1_filter" placeholder="Nom" size="10"></td>
                        <td class="tableHeader" id="filter_col3" data-column="2"><input class="column_filter" id="col2_filter" placeholder="Sujet" size="10"></td>
                        <td class="tableHeader" id="filter_col4" data-column="3"><input class="column_filter" id="col3_filter" placeholder="Statut" size="10"></td>
                        <td class="tableHeader" id="filter_col5" data-column="4"><input class="column_filter" id="col4_filter" placeholder="Créé" size="5"></td>
                        <td class="tableHeader" id="filter_col6" data-column="5"><input class="column_filter" id="col5_filter" placeholder="Réponse par" size="10"></td>
                        <td class="tableHeader" id="filter_col7" data-column="6"><input class="column_filter" id="col6_filter" placeholder="J+" size="5"></td>
                        <td class="tableHeader" id="filter_col{{key+8}}" data-column="{{key+7}}" data-ng-repeat="(key, field) in vm.module.ticketFields" style="text-align:center"><input class="column_filter" id="col{{key+7}}_filter" placeholder="{{field.name}}" size="10"></td>
                      </tr>
                      <tr>
                          <th class="tableHeader" ng-click="orderByField='id'; reverseSort=!reverseSort" name="#">#</th>
                          <th class="tableHeader" ng-click="orderByField='user.name'; reverseSort=!reverseSort" name="Nom">Nom</th>
                          <th class="tableHeader" ng-click="orderByField='subject'; reverseSort=!reverseSort" name="Sujet">Sujet</th>
                          <th class="tableHeader" ng-click="orderByField='status'; reverseSort=!reverseSort" name="Statut">Statut</th>
                          <th class="tableHeader" ng-click="orderByField='created'; reverseSort=!reverseSort" name="Créé">Créé</th>
                          <th class="tableHeader" ng-click="orderByField='lastResponse'; reverseSort=!reverseSort" name="Réponse par">Réponse par</th>
                          <th class="tableHeader" ng-click="orderByField='created'; reverseSort=!reverseSort" name="J+">J+</th>
                          <th class="tableHeader" ng-click="orderByField='{{key}}'; reverseSort=!reverseSort"
                              data-ng-repeat="(key, field) in vm.module.ticketFields" name="{{field.name}}">{{field.name}}</th>
                      </tr>
                    </thead>
                </md-data-table-container>
                <md-data-table-container>
                        <tbody>
                          <tr ng-repeat="ticket in vm.tickets" data-ng-click="vm.openTicketView($event, ticket.$id)">
                              <td style="text-align:center; whitespace:nowrap" id="id">{{ticket.id}}</td>
                              <td style="text-align:center" id="user">{{ticket.user.name}}</td>
                              <td style="text-align:center" id="subject">{{ticket.subject}}</td>
                              <td style="text-align:center" id="status">{{ticket.status}}</td>
                              <td style="text-align:center" id="date">{{ticket.created | date : 'dd-MM-yyyy'}}<br/>{{ticket.created | date : 'HH:mm:ss'}}</td>
                              <td style="text-align:center" id="answer">{{ticket.lastResponse}}</td>
                              <td style="text-align:center" id="nbjours">{{ticket.created | amDifference: null : 'days' | amDurationFormat : 'day'}}</td>
                              <td data-ng-repeat="(key, field) in vm.module.ticketFields" style="text-align:center" id="key">
                                  <div data-ng-if="field.type !== 'dropdouble'">
                                      {{ticket[key]}}
                                  </div>
                                  <div data-ng-if="field.type === 'dropdouble'">
                                      {{ticket[key].first + ' - ' + ticket[key].second}}
                                  </div>
                              </td>
                          </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
            </md-tab-body>
      </md-tab>
        </md-tabs>
        </md-card>
    </div>
    <div data-ng-hide="vm.tickets" layout-fill layout="row" layout-align="center" style="padding-top: 50px;">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<md-fab-speed-dial class="fab md-scale" data-md-direction="up">
    <md-fab-trigger>
        <md-button aria-label="search" data-ui-sref="main.modules.search({id: vm.moduleId})" class="md-fab accent">
            <md-tooltip data-md-direction="left">
                {{ 'TICKET_BUTTON_SEARCH' | translate }}
            </md-tooltip>
            <md-icon>search</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions data-ng-if="vm.admin || vm.module.$rights === 'a'">
        <md-button aria-label="group-settings" data-ui-sref="main.modules.edit({id: vm.moduleId})"
                   class="md-fab md-raised md-mini">
            <md-tooltip data-md-direction="left">
                {{ 'TICKET_BUTTON_EDIT' | translate }}
            </md-tooltip>
            <md-icon style="color: #808080;">settings</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
