<div layout="row" layout-wrap>
    <ui-view flex="100"></ui-view>
    <div flex="100" data-ng-show="vm.tickets">
        <md-card flex layout="row">
                <md-button aria-label="group-settings"
                            data-ng-if="vm.admin || vm.module.$rights === 'c' || vm.module.$rights === 'b' || vm.module.$rights === 'a'"
                            data-ng-click="vm.openCreateTicket($event)"
                            class="md-fab md-raised">
                    <md-tooltip data-md-direction="down">
                        {{ 'TICKET_CREATE' | translate }}
                    </md-tooltip>
                    <md-icon style="color: #808080;">add</md-icon>
                </md-button>

                <md-button class="md-fab md-raised"
                           data-ui-sref="main.modules({id: vm.module.$id})">
                    <md-tooltip data-md-direction="down">
                        {{ 'TICKET_BY_STATUS' | translate }}
                    </md-tooltip>
                    <md-icon style="color: #808080;">list</md-icon>
                </md-button>

                <div flex></div>
                <md-button class="md-fab md-primary" data-ng-if= "vm.super || vm.admin" aria-label="Tickets En Cours" data-ui-sref="main.modulesCurrent({id: vm.module.$id})">
                  <md-icon>chat</md-icon>
                  <span>{{vm.ticketsCurrent.length + vm.ticketsCurrentCPM.length + vm.ticketsCurrentCC.length}}</span>
                  <md-tooltip data-md-direction="down">
                      {{'TICKET_CURRENT' | translate}}
                  </md-tooltip>
                </md-button>
                <md-button class="md-fab" data-ng-if= "vm.super || vm.admin" aria-label="Tickets Non Lus" data-ui-sref="main.modulesNotRead({id: vm.module.$id})">
                  <md-icon>announcement</md-icon>
                  <span>{{vm.ticketsNotRead.length}}</span>
                  <md-tooltip data-md-direction="down">
                      {{'TICKET_NOT_READ' | translate}}
                </md-button>
                <md-button aria-label="group-settings"
                            data-ng-if="vm.admin || vm.module.$rights === 'c' || vm.module.$rights === 'b' || vm.module.$rights === 'a'"
                            data-ui-sref="main.modulesStats({id: vm.module.$id})"
                            class=" md-fab md-raised">
                    <md-tooltip data-md-direction="down">
                        {{ 'HOME_PAGE_MODULES_STAT_CPM' | translate }}
                    </md-tooltip>
                    <md-icon style="color: #808080;">equalizer</md-icon>
                </md-button>
        </md-card>
        <md-card>

            <md-tabs md-dynamic-height aria-label="select status" >
          <md-tab class="md-accent" label="Tous les tickets" md-on-select = "vm.filterAllTickets(); vm.statusDuration()">
            <md-tab-body><br/>
                <table id="table_all" class="table">
                    <thead>
                          <th style="text-align:center">#</th>
                          <th style="text-align:center">Nom</th>
                          <th style="text-align:center">Sujet</th>
                          <th style="text-align:center">Statut</th>
                          <th style="text-align:center">Créé</th>
                          <th style="text-align:center">Réponse par</th>
                          <th style="text-align:center">J+</th>
                          <th style="text-align:center" data-ng-repeat="(key, field) in vm.module.ticketFields">{{field.name}}</th>
                    </thead>
                      <tbody>
                          <tr ng-repeat="ticket in vm.tickets" data-ng-click="vm.openTicketView($event, ticket.$id)">
                              <td style="text-align:center; whitespace:nowrap" id="id">{{ticket.id}}</td>
                              <td style="text-align:center" id="user">{{ticket.user.name}}</td>
                              <td style="text-align:center" id="subject">{{ticket.subject}}</td>
                              <td style="text-align:center" id="status">{{ticket.status}}</td>
                              <td style="text-align:center" id="date">{{ticket.created | date : 'dd-MM-yyyy'}}<br/>{{ticket.created | date : 'HH:mm:ss'}}</td>
                              <td style="text-align:center" id="answer">{{ticket.lastResponse}}</td>
                              <td style="text-align:center" id="nbjours">{{ticket.created | amDifference : null : 'minute' | amDurationFormat : 'minute'}}</td>
                              <td data-ng-repeat="(key, field) in vm.module.ticketFields" style="text-align:center" id="key">
                                  <div data-ng-if="field.type !== 'dropdouble'">
                                      {{ticket[key]}}
                                  </div>
                                  <div data-ng-if="field.type === 'dropdouble'">
                                      {{ticket[key].first + ' - ' + ticket[key].second}}
                                  </div>
                              </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                          </tr>
                      </tfoot>
                    </table>

            </md-tab-body>
      </md-tab>
        </md-tabs>
        </md-card>
    </div>
    <div data-ng-hide="vm.tickets" layout-fill layout="row" layout-align="center" style="padding-top: 50px;">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<md-fab-speed-dial class="fab md-scale" data-md-direction="up">
    <md-fab-trigger>
        <md-button aria-label="search" data-ui-sref="main.modules.search({id: vm.moduleId})" class="md-fab accent">
            <md-tooltip data-md-direction="left">
                {{ 'TICKET_BUTTON_SEARCH' | translate }}
            </md-tooltip>
            <md-icon>search</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions data-ng-if="vm.admin || vm.module.$rights === 'a'">
        <md-button aria-label="group-settings" data-ui-sref="main.modules.edit({id: vm.moduleId})"
                   class="md-fab md-raised md-mini">
            <md-tooltip data-md-direction="left">
                {{ 'TICKET_BUTTON_EDIT' | translate }}
            </md-tooltip>
            <md-icon style="color: #808080;">settings</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
<script ng-if="vm.tickets">
  $('#table_all').on('inview', function(event, isInView) {
      if (isInView) {
        setTimeout(function(){
            tfall = new TableFilter(document.querySelector('#table_all'), {base_path: '/tablefilter/'
                                                                          ,flts_row_css_class: "test",
                                                                          flt_css_class: "input-sm form-control",
                                                                          filters_row_index: 1,
                                                                          col_3: 'select',
                                                                          col_7: 'select',
                                                                          paging: true,
                                                                          results_per_page: ['Tickets par page: ', [10,25,50,100]],
                                                                          remember_grid_values: true,
                                                                          remember_page_number: true,
                                                                          remember_page_length: true,
                                                                          rows_counter: true,
                                                                          loader: true,
                                                                          alternate_rows: true,
                                                                          extensions:[{
                                                                            name: 'sort',
                                                                            types: [
                                                                            'number', 'string', 'string',
                                                                            'string', 'string', 'string',
                                                                            'string', 'string', 'string',
                                                                            'number', 'number'
                                                                            ]
                                                                          }]
                                                                        });
            tfall.init();
        }, 200);
      }
      else{
        console.log('Error');
      }
  });
</script>
