<div layout="row" layout-wrap>
    <ui-view flex="100"></ui-view>
    <div flex="100" data-ng-show="vm.tickets">
      <md-card flex layout="row">
              <md-button aria-label="group-settings"
                          data-ng-if="vm.admin || vm.module.$rights === 'c' || vm.module.$rights === 'b' || vm.module.$rights === 'a'"
                          data-ng-click="vm.openCreateTicket($event)"
                          class="md-fab md-raised">
                  <md-tooltip data-md-direction="down">
                      {{ 'TICKET_CREATE' | translate }}
                  </md-tooltip>
                  <md-icon style="color: #808080;">add</md-icon>
              </md-button>

              <md-button class="md-fab md-raised"
                         data-ui-sref="main.modules({id: vm.module.id})">
                  <md-tooltip data-md-direction="down">
                      {{ 'TICKET_BY_STATUS' | translate }}
                  </md-tooltip>
                  <md-icon style="color: #808080;">list</md-icon>
              </md-button>

              <div flex></div>

              <md-button class="md-fab md-primary" data-ng-if= "vm.super || vm.admin" aria-label="Tickets En Cours" data-ui-sref="main.modulesCurrent({id: vm.module.id})">
                <md-icon>chat</md-icon>
                <span>{{vm.ticketsCurrent.length + vm.ticketsCurrentCPM.length + vm.ticketsCurrentCC.length}}</span>
                <md-tooltip data-md-direction="down">
                    Tickets En Cours
                </md-tooltip>
              </md-button>
              <md-button class="md-fab" data-ng-if= "vm.super || vm.admin" aria-label="Tickets Non Lus" data-ui-sref="main.modulesNotRead({id: vm.module.id})">
                <md-icon>announcement</md-icon>
                <span>{{vm.ticketsNotRead.length}}</span>
                <md-tooltip data-md-direction="down">
                    Tickets Non Lus
                </md-tooltip>
              </md-button>
              <md-button aria-label="group-settings"
                          data-ng-if="vm.admin || vm.module.$rights === 'c' || vm.module.$rights === 'b' || vm.module.$rights === 'a'"
                          data-ui-sref="main.modulesStats({id: vm.module.id})"
                          class=" md-fab md-raised">
                  <md-tooltip data-md-direction="down">
                      {{ 'HOME_PAGE_MODULES_STAT_CPM' | translate }}
                  </md-tooltip>
                  <md-icon style="color: #808080;">equalizer</md-icon>
              </md-button>
      </md-card>
      <md-card>

            <md-tabs md-dynamic-height aria-label="select status">
              <md-tab class="md-accent" label="En cours" md-on-select="vm.filterByStatusTickets('En cours')">
                <md-tab-body><br/>
                  <table id="table_current" class="table">
                      <thead>
                            <th style="text-align:center">{{ 'TABLE_NUMBER' | translate }}</th>
                            <th style="text-align:center">{{ 'TABLE_NAME' | translate }}</th>
                            <th style="text-align:center">{{ 'TABLE_SUBJECT' | translate }}</th>
                            <th style="text-align:center">{{ 'TABLE_STATUS' | translate }}</th>
                            <th style="text-align:center">{{ 'TABLE_CREATED' | translate }}</th>
                            <th style="text-align:center">{{ 'TABLE_RESPONSE' | translate }}</th>
                            <th style="text-align:center">J+</th>
                            <th style="text-align:center" data-ng-repeat="(key, field) in vm.module.ticketFields">{{field.name}}</th>
                      </thead>
                          <tbody>
                            <tr ng-repeat="ticket in vm.tickets" data-ng-click="vm.openTicketView($event, ticket.id)">
                                <td style="text-align:center; whitespace:nowrap" id="id">{{ticket.id}}</td>
                                <td style="text-align:center" id="user">{{ticket.user.name}}</td>
                                <td style="text-align:center" id="subject">{{ticket.subject}}</td>
                                <td style="text-align:center" id="status">{{ticket.status}}</td>
                                <td style="text-align:center" id="date">{{ticket.created | date : 'dd-MM-yyyy'}} {{ticket.created | date : 'HH:mm:ss'}}</td>
                                <td style="text-align:center" id="answer">{{ticket.lastResponse}}</td>
                                <td style="text-align:center" id="nbjours">{{ticket.created | amDifference : null : 'minute' | amDurationFormat : 'minute'}}</td>
                                <td data-ng-repeat="(key, field) in vm.module.ticketFields" style="text-align:center" id="key">
                                    <div data-ng-if="field.name ===  'Attribué à'">
                                        {{ticket[key].name}}
                                    </div>
                                    <div data-ng-if="field.type !== 'dropdouble' && field.name !== 'Attribué à'">
                                        {{ticket[key]}}
                                    </div>
                                    <div data-ng-if="field.type === 'dropdouble'">
                                        {{ticket[key].first + ' - ' + ticket[key].second}}
                                    </div>
                                </td>
                            </tr>
                          </tbody>
                      </table>

                </md-tab-body>
                <div data-ng-hide="vm.tickets" layout-fill layout="row" layout-align="center" style="padding-top: 50px;">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
          </md-tab>
        </md-tabs>
        </md-card>
    </div>
    <div data-ng-hide="vm.tickets" layout-fill layout="row" layout-align="center" style="padding-top: 50px;">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<div ng-controller="speedDialController as ctrl">
  <md-fab-speed-dial class="fab md-scale" data-md-direction="up" md-open="ctrl.isOpen" ng-mouseenter="ctrl.isOpen=true" ng-mouseleave="ctrl.isOpen=false">
      <md-fab-trigger>
          <md-button aria-label="search" data-ui-sref="main.modules.search({id: vm.moduleId})" class="md-fab accent">
              <md-tooltip data-md-direction="left">
                  {{ 'TICKET_BUTTON_SEARCH' | translate }}
              </md-tooltip>
              <md-icon>search</md-icon>
          </md-button>
      </md-fab-trigger>
      <md-fab-actions data-ng-if="vm.admin || vm.module.$rights === 'a'">
          <md-button aria-label="group-settings" data-ui-sref="main.modules.edit({id: vm.moduleId})"
                     class="md-fab md-raised md-mini">
              <md-tooltip data-md-direction="left">
                  {{ 'TICKET_BUTTON_EDIT' | translate }}
              </md-tooltip>
              <md-icon style="color: #808080;">settings</md-icon>
          </md-button>
      </md-fab-actions>
  </md-fab-speed-dial>
</div>
<script data-ng-if="vm.tickets">
  var flag = true;
  $('#table_current tbody').on('inview', function(event, isInView) {
      if (isInView && flag) {
        tfcurrent = new TableFilter(document.querySelector('#table_current'), {base_path: '/tablefilter/'
                                                                      ,flts_row_css_class: "test",
                                                                      fixed_headers: true ,
                                                                      flt_css_class: "input-sm form-control",
                                                                      filters_row_index: 1,
                                                                      col_3: 'select',
                                                                      col_7: 'select',
                                                                      col_8: 'select',
                                                                      paging: true,
                                                                      results_per_page: ['Tickets par page: ', [10,25,50,100]],
                                                                      remember_grid_values: true,
                                                                      remember_page_number: true,
                                                                      remember_page_length: true,
                                                                      rows_counter: true,
                                                                      loader: true,
                                                                      alternate_rows: true,
                                                                      btn_reset: true,
                                                                      btn_reset_text: "Clear",
                                                                      extensions:[{
                                                                        name: 'sort',
                                                                        types: [
                                                                        'number', 'string', 'string',
                                                                        'string', 'string', 'string',
                                                                        'string', 'string', 'string',
                                                                        'number', 'number'
                                                                        ]
                                                                      }]
                                                                    });
        tfcurrent.init();
        flag = false;
      }
      else{
        console.log('Error');
      }
  });
</script>
