<md-dialog flex="66">
    <md-dialog-content layout="column" style="padding: 0;">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{vm.ticket.id}} - {{ vm.ticket.subject }} - {{vm.ticket.status}}</span>
                </h2>
                <span flex></span>
                <!--           ------------------Souscription/ Abonnement-----------------------
                <md-switch ng-model="vm.subscription" aria-label="Abonnement" class="md-primary" md-no-ink data-ng-change="vm.subscribe()">
                  M'abonner
                </md-switch>
                -->
                <md-button type="button" aria-label="close" data-ng-click="vm.cancel()" class="md-icon-button">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <div flex layout="row" layout-wrap style="padding: 20px;" layout-padding>
                <div flex="33" data-ng-repeat="(key, field) in vm.module.ticketFields">
                    <span>{{field.name}} :</span>
                    <h4 data-ng-if="field.type !== 'dropdouble'">{{ vm.ticket[key] }}</h4>
                    <h4 data-ng-if="field.type === 'dropdouble'">{{ vm.ticket[key].first + ' - ' + vm.ticket[key].second }}</h4>
                </div>
                <div flex="100">
                    <span>Message :</span>
                    <h4 flex style="padding: 0 8px">{{ vm.ticket.message }}</h4>
                </div>
                <div ng-repeat="file in vm.ticket.file">
                  <a  data-ng-href="{{file.data}}" download="{{file.name}}">{{file.name}}</a>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex style="overflow-x: hidden;" layout-margin>
                <md-list data-ng-show="vm.ticket.messages.length > 0" layout-padding layout-margin layout-fill>
                    <md-subheader class="md-no-sticky">{{ vm.ticket.messages.length }} réponse(s)</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="message in vm.ticket.messages" style="padding: 0; margin-left:16px;">
                        <div class="md-list-item-text ticket-response">
                            <h3>{{ message.author.name }} - {{message.date | amDateFormat:'dddd, Do MMMM YYYY, H:mm:ss'}} - {{message.recontact}} - <strong>{{message.status}}</strong></h3>

                            <p style="white-space: pre;">{{ message.content }}</p>
                            <div ng-repeat="file in message.file">
                              <a  data-ng-href="{{file.data}}" download="{{file.name}}">{{file.name}}</a>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
                <div layout="row" layout-margin>
                </div>
            </div>
        </md-content>
        <md-divider></md-divider>
    </md-dialog-content>
    <form class="md-actions" layout="row" ng-hide="vm.ticket.status === 'Clos' || vm.ticket.status === 'Résolu avec solution satisfaisante' || vm.ticket.status === 'Résolu sans solution satisfaisante'"
          name="responseForm" data-ng-submit="vm.sendMessage()">
        <div flex>
            <md-input-container>
                <label>{{'VIEW_TICKET_MODAL_ANSWER' | translate}}</label>
                <textarea md-no-autogrow data-ng-model="vm.newMessage" type="text"
                          columns="1" title="nouveau message" required></textarea>
            </md-input-container>
        </div>
        <div flex="20">
            <md-checkbox ng-model="vm.recontact" ng-init="vm.recontact=true"  data-ng-if="vm.admin">
              Recontacter Membre
            </md-ckeckbox>
        </div>
        <div>
            <md-select data-ng-model="vm.newStatus" required placeholder="Statut">
                <md-option data-ng-if="vm.user" data-ng-repeat="status in vm.module.status | filter: {name: '!Clos'} | filter: {name: '!Traité avec résolution DC'} | filter: {name: '!Traité sans résolution DC'} | filter: {name: '!Escalade injustifié'}" value="{{status.name}}">
                    {{status.name}}
                </md-option>
                <md-option data-ng-if="vm.admin || vm.super" data-ng-repeat="status in vm.module.status" value="{{status.name}}">
                    {{status.name}}
                </md-option>
            </md-select>
        </div>
        <div flex="5"></div>
        <input type="file" id="file" multiple>
        <md-button class="md-raised" type="button" data-ng-if="!vm.newFile" data-ng-click="vm.upload()">Upload</md-button>
        <md-button class="md-raised" type="button" data-ng-if="vm.newFile" data-ng-click="vm.deleteFile()">Supprimer</md-button>
        <md-button class="md-accent md-raised" type="submit" data-ng-disabled="responseForm.$invalid">
          {{'VIEW_TICKET_MODAL_SEND' | translate}}
        </md-button>
    </form>
    <div class="md-actions" layout="row" data-ng-if="vm.newFile" data-ng-repeat="file in vm.newFile">
      <md-checkbox ng-model="fileOk" ng-init="fileOk=true">Fichier {{file.name}} ajouté</md-ckeckbox>
    </div>
</md-dialog>
